@import "../../styles/communs.scss";

.containerGlobalServices {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.titlePrestation{
  font-size:20px;
}
.containerServices {
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  gap: 15px;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.prestaServices {
  background: white;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  padding: 25px 30px;
  color: var($colorOrange2);
  height: 200px;
  width: 190px;
  outline: 1px solid $colorOrange2;
}

.prestaServices::after {
  content: "";
  background: $colorOrange2;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  clip-path: circle(10% at 0% 0%);
  transition: all 0.3s ease-in;
}

.contentServices {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.prestaServices:hover::after {
  clip-path: circle(100%);
}

.prestaServices:hover .contentServices {
  color: $colorWhite;
}

