@import '../../styles/communs.scss';

.containerPresentation{
    margin-bottom:30px;
display: flex;
justify-content:space-around;
}
.titlePresentation{
    margin: 30px;
}

@media #{$medium-down} {
    .containerPresentation{
        margin-top:30px;
        flex-direction: column;
    }
}