@import '../../styles/communs.scss';

 #photoProfilLaurence{
     width:150px;
     height:150px;
     outline:1px solid black;
     margin-right: 10px;
 }

 

.cardtitle {
  font-family: 'Bitter', serif;
  font-weight: bold;
}

p {
    display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
}

#card {
  width: 600px;
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #000;
  background-color: #E9EEF2;
  margin: auto;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-id {
  padding: 5px;
  display: flex;
}

#card-number{
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px;
}



#card-detail {
  display: flex;
  
}

.card-box {
  margin-right: 20px;
}

#cardsign {
  background-position: center;
  height: 38px;
  width: 350px;
}

#card-code {
  padding: 5px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media #{$medium-down} {
  #card {
    width: 350px;
    
  }
}