$widthlogo:260px;
$widthlogoMobile:160px;
$heightlogo:$widthlogo;
$heightPro : 300px;

$colorBlack: black;
$colorWhite: white;
$colorOrange:rgb(62,25,0) ;
$colorOrange2:#ff6501;
$marginContainer: 20px;
$marginContainerMobile: 5px;