@import '../../styles/communs.scss';


.containerAvis{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
   background-color:black;
}
.date{
    font-style: italic; 
    color:grey;
}
  .titleAvis{
    color:white;
    background-color:black;
    padding:20px;
    margin: 0;
  }
  /* CSS talk bubble */
  .talk-bubble {
      margin: 40px;
    display: inline-block;
    position: relative;
      width: 400px;
      height: auto;
      background-color: white;
  }
  .border{
    border: 8px solid $colorOrange2;
  }
  .round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
    }
 
   
  /*Right triangle, placed bottom left side slightly in*/
  .tri-right.border.btm-left-in:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 30px;
    right: auto;
    top: auto;
      bottom: -40px;
      border: 20px solid;
      border-color: $colorOrange2 transparent transparent $colorOrange2;
  }
  .tri-right.btm-left-in:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
    right: auto;
    top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: white transparent transparent white;
  }
  
  
  
  /* talk bubble contents */
  .talktext{
    padding: 1em;
      text-align: left;
    line-height: 1.5em;
    color:$colorOrange2;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }