@import "../../styles/communs.scss";

.containerModal {
  margin: 0;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
z-index: 100;
  display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
  background: white;
  width: 480px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  margin-top: -250px;
}

.iconModal {
  color: $colorOrange2;
  font-size: 26px;
  font-weight: 700;
  background: black;
  width: auto;
  height: 42px;
  padding: 0 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
    cursor: pointer;
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 30px;
  width: 30px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-button:hover{
  background-color: lightgrey;
}




.contentModal{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titlePrestaDetail{
    font-weight: 700;
}
@media #{$medium-down} {
  .modal {
   width: 350px;
   height: auto;
   background: $colorOrange2;
   }
  .containerModal{
    margin-top:-500px;
  }
  }