@import '../../styles/communs.scss';

 .slideShowImg{
     margin-top:120px;
     margin-bottom: 120px;
  object-fit: contain;
  height:400px;
 }

 .titleTrustPart{
     padding-top:15px;
     color: white;
 }

  